/*
	Pure CSS tooltips
*/


/* element */
[data-tip-left],
[data-tip-right],
[data-tip-center] {
	position: relative;
	overflow: visible;
}


/* triangle */
[data-tip-left]:before,
[data-tip-right]:before,
[data-tip-center]:before {
	display: none;
	content: "";
	width: 0;
	border: solid transparent;
	border-bottom-color: black;
	position: absolute;
	z-index: 99;
	top: 100%;
}

[data-tip-left]:before {
	border-width: 0 0 .625em .875em;
	right: 50%;
}

[data-tip-right]:before {
	border-width: 0 .875em .625em 0;
	left: 50%;
}

[data-tip-center]:before {
	border-width: 0 .4375em .625em;
	left: 50%;
	margin-left: -.4375em;
}


/* rounded rectangle */
[data-tip-left]:after,
[data-tip-right]:after,
[data-tip-center]:after {
	display: none;
	
	/* type & style */
	font: normal 1em/1 sans-serif;
	white-space: nowrap;
	text-shadow: none;
	color: white;
	background: black;
	border-radius: .25em;
	
	/* position & size */
	position: absolute;
	z-index: 99;
	top: 100%;
	margin-top: .6em;
	padding: .375em .5em;
}

[data-tip-left]:after {
	content: attr(data-tip-left);
	border-top-right-radius: 0;
	right: 50%;
}

[data-tip-right]:after {
	content: attr(data-tip-right);
	border-top-left-radius: 0;
	left: 50%;
}

[data-tip-center]:after {
	content: attr(data-tip-center);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}


/* hover */
[data-tip-left]:hover:before,
[data-tip-left]:hover:after,
[data-tip-right]:hover:before,
[data-tip-right]:hover:after,
[data-tip-center]:hover:before,
[data-tip-center]:hover:after {
	display: inline-block;
}
