[data-tip],
[data-tip-right],
[data-tip-center] {
	position: relative;
}

[data-tip]:before,
[data-tip-right]:before,
[data-tip-center]:before {
	display: none;
	content: "";
	width: 0;
	border: solid transparent;
	border-width: 0 .4375em .625em;
	border-bottom-color: black;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -.4375em;
}

[data-tip]:after,
[data-tip-right]:after,
[data-tip-center]:after {
	display: none;
	content: attr(data-tip);
	padding: .375em .5em;
	position: absolute;
	top: 128%;
	left: 0;
	font: normal 1em/1 sans-serif;
	white-space: nowrap;
	text-shadow: none;
	color: white;
	background: black;
	border-radius: .25em;
}

[data-tip-right]:after {
	content: attr(data-tip-right);
	left: auto;
	right: 0;
}

[data-tip-center]:after {
	content: attr(data-tip-center);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

[data-tip]:hover:before,
[data-tip]:hover:after,
[data-tip-right]:hover:before,
[data-tip-right]:hover:after,
[data-tip-center]:hover:before,
[data-tip-center]:hover:after {
	display: inline-block;
}
